<!DOCTYPE html>
{% load static %}

<html lang="en">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/home.css' %}">
{#<link type="text/css" rel="stylesheet" href="{% static 'css/graph.css' %}">#}
<head>
    <meta charset="UTF-8">
    <title>Monitore</title>
</head>
<body>
    <div class="align-my-block">

        {% include 'navbar.html' %}

        {% block content %} {% endblock %}

    </div>


<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
{% block js %} {% endblock %}
</body>
</html>