{% extends "base.html" %}

{% load static %}

{% block content %}

    {% include 'countries-select-partial.html' %}

    <div id="country-historical">
        {% include 'countries-historical-partial.html' %}
    </div>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <div id="country-graph">
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
    <script src="{% static 'js/select_country.js' %}"></script>
{% endblock %}